.body-container {
    min-height: 100vh;
    background-color: #f5f5f5;
}

.icon-container {
    background-color: #ffffff;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
}

.icon-container img {
    width: 60px;
    opacity: 0.4;
}