<div class="modal fade show" style="display:block; background: rgba(0,0,0,0.5)">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5">Editar consolidado</h1>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>

            <div class="modal-body">
                {{messagge.message}}
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" (click)="close()">Aceptar</button>
            </div>

        </div>
    </div>
</div>