<form [formGroup]="loginForm">
    <div class="container mt-5" style="max-width: 700px;" >
    
        <h2 class="mb-1">¡Bienvenido!</h2>
        <h3 class="text-primary mb-4">Iniciar Sesión</h3>
    
        <!-- Usuario -->
        <div class="form-group mb-4">
            <label class="mb-2">Usuario</label>
            <input type="text" class="form-control form-control-lg" placeholder="" formControlName="usuario" />
        </div>
    
        <!-- Contraseña -->
        <div class="form-group mb-4">
            <label class="mb-2">Contraseña</label>
            <input type="password" class="form-control form-control-lg" placeholder="" formControlName="password" />
        </div>
    
        <!-- Botón -->
        <button type="button" class="btn btn-success btn-lg w-100" (click)="onSubmit()"
            style="background-color: #c9f3da; border: none; color: #4d4d4d;">
            Continuar
        </button>
    
    </div>
</form>
<app-alert-modal *ngIf="showModal" [messagge]="messageModal" (closeModal)="showModal = false"></app-alert-modal>
